{% comment %}
To customize the favicon, assign it to "/url/to/favicon.png"
{% endcomment %}
{% assign favicon = "http://www.gravatar.com/avatar/3bc8fbe8e22f92cb19ffb347a05f72a3?s=16" %}
<!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
